body {
  background-color: #f6f6f6; }

#App #index .list1 .swiper-container {
  width: 100%; }
  #App #index .list1 .swiper-container .swiper-wrapper {
    width: 100%; }
    #App #index .list1 .swiper-container .swiper-wrapper .swiper-slide img {
      width: 100%; }
  #App #index .list1 .swiper-container .swiper-pagination {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 0.24rem;
    color: #ffffff;
    left: initial;
    right: 0.4rem;
    width: 0.8rem;
    padding: 0.06rem;
    border-radius: 0.26rem; }
  #App #index .list1 .swiper-container .wrap1 {
    position: absolute;
    bottom: 0.3rem;
    left: 0.5rem;
    z-index: 10;
    font-size: 0.26rem;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 0.75rem;
    background-color: #fff;
    -webkit-border-radius: 0 0.75rem 0.75rem 0;
    -moz-border-radius: 0 0.75rem 0.75rem 0;
    border-radius: 0 0.75rem 0.75rem 0; }
    #App #index .list1 .swiper-container .wrap1 > div:first-child {
      height: 100%;
      position: absolute;
      margin-left: -0.35rem; }
      #App #index .list1 .swiper-container .wrap1 > div:first-child img {
        height: 100%; }
    #App #index .list1 .swiper-container .wrap1 > div:last-child {
      margin-left: 0.65rem;
      padding: 0.2rem 0.45rem 0.2rem 0; }
#App #index .list2 {
  background-color: #fff;
  margin-bottom: 0.2rem; }
  #App #index .list2 .l2-1 {
    padding: 0.4rem 0.5rem 0.4rem 0.25rem; }
    #App #index .list2 .l2-1 > div:first-child {
      margin-bottom: 0.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #App #index .list2 .l2-1 > div:first-child span {
        font-size: 0.24rem;
        color: #999999; }
      #App #index .list2 .l2-1 > div:first-child > span:first-child {
        color: #ff0000;
        font-size: 0.36rem; }
    #App #index .list2 .l2-1 > div:last-child p {
      font-size: 0.32rem;
      color: #333333; }
  #App #index .list2 .l2-2 {
    padding: 0.4rem 0.5rem 0.4rem 0.25rem;
    background-color: #fff5f5;
    font-size: 0.26rem; }
    #App #index .list2 .l2-2 > div:first-child {
      margin-bottom: 0.3rem;
      color: #333333; }
    #App #index .list2 .l2-2 > div:nth-child(2) {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #App #index .list2 .l2-2 > div:nth-child(2) > div {
        display: flex;
        color: #666666; }
        #App #index .list2 .l2-2 > div:nth-child(2) > div span:first-child {
          margin-right: 0.1rem;
          width: 0.36rem;
          height: 0.36rem;
          background: url("../img/icon09.png") no-repeat;
          background-size: 100% 100%; }
#App #index .list3 {
  background-color: #fff;
  padding: 0 0.25rem;
  margin-bottom: 0.2rem; }
  #App #index .list3 > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.28rem;
    color: #333333;
    border-bottom: 1px solid #e4e4e4;
    padding: 0.2rem 0; }
    #App #index .list3 > div:first-child span:last-child {
      font-size: 0.24rem;
      color: #999999;
      border: 1px solid #e4e4e4;
      padding: 0.1rem 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      border-radius: 0.3rem; }
  #App #index .list3 > div:nth-child(2) > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0;
    border-bottom: 1px solid #e4e4e4; }
    #App #index .list3 > div:nth-child(2) > ul > li > div {
      width: 50%;
      display: flex;
      align-items: center;
      font-size: 0.28rem;
      color: #333333; }
      #App #index .list3 > div:nth-child(2) > ul > li > div > div {
        width: 50%; }
    #App #index .list3 > div:nth-child(2) > ul > li > div:first-child > div:first-child {
      width: 0.8rem;
      height: 0.8rem;
      margin-right: 0.2rem; }
      #App #index .list3 > div:nth-child(2) > ul > li > div:first-child > div:first-child img {
        width: 100%; }
    #App #index .list3 > div:nth-child(2) > ul > li > div:last-child > div:first-child > div:first-child > span span {
      color: #ff0000; }
    #App #index .list3 > div:nth-child(2) > ul > li > div:last-child > div:first-child > div:last-child {
      font-size: 0.22rem;
      color: #888888; }
    #App #index .list3 > div:nth-child(2) > ul > li > div:last-child > div:last-child {
      text-align: center; }
      #App #index .list3 > div:nth-child(2) > ul > li > div:last-child > div:last-child span {
        display: inline-block;
        font-size: 0.26rem;
        color: #ffffff;
        background-color: #ff0000;
        padding: 0.1rem 0.4rem;
        -webkit-border-radius: 0.4rem;
        -moz-border-radius: 0.4rem;
        border-radius: 0.4rem; }
  #App #index .list3 > div:nth-child(2) > ul > li:last-child {
    border-bottom: 0; }
#App #index .list4 {
  background-color: #fff; }
  #App #index .list4 .l4-1 {
    text-align: center;
    font-size: 0.3rem;
    color: #333333;
    padding: 0.3rem 0;
    font-weight: bold; }
  #App #index .list4 .l4-2 {
    font-size: 0.28rem;
    color: #333333;
    border-top: 1px solid #ffd8d8;
    background-color: #fff5f5;
    padding: 0.4rem 0.3rem;
    font-weight: bold; }
    #App #index .list4 .l4-2 p {
      line-height: 0.5rem;
      text-align: justify; }
      #App #index .list4 .l4-2 p span {
        color: #ff0000; }
  #App #index .list4 .l4-3 > ul {
    padding: 0 0.4rem; }
    #App #index .list4 .l4-3 > ul > li {
      padding-top: 0.4rem;
      border-bottom: 1px solid  #e4e4e4; }
      #App #index .list4 .l4-3 > ul > li > div:first-child {
        font-size: 0.28rem;
        color: #ff8989;
        margin-bottom: 0.25rem; }
        #App #index .list4 .l4-3 > ul > li > div:first-child div {
          position: relative; }
          #App #index .list4 .l4-3 > ul > li > div:first-child div .span1 {
            color: #ffffff;
            background-color: #ff8989;
            margin-right: 0.1rem;
            -webkit-border-radius: 0.1rem;
            -moz-border-radius: 0.1rem;
            border-radius: 0.1rem;
            padding: 0.1rem 0.3rem;
            display: inline-block;
            margin-left: -0.06rem; }
          #App #index .list4 .l4-3 > ul > li > div:first-child div .span2 {
            position: absolute;
            height: 100%;
            box-sizing: border-box;
            border-bottom: 1px solid #ff8989;
            padding-left: 0.2rem;
            padding-top: 0.1rem;
            margin-left: -0.2rem; }
      #App #index .list4 .l4-3 > ul > li > div:last-child > div {
        margin-bottom: 0.2rem; }
      #App #index .list4 .l4-3 > ul > li > div:last-child > div:first-child {
        font-size: 0.28rem;
        color: #333333;
        font-weight: bold; }
      #App #index .list4 .l4-3 > ul > li > div:last-child > div:nth-child(2) p {
        font-size: 0.26rem;
        color: #999999;
        text-align: justify;
        line-height: 0.4rem; }
    #App #index .list4 .l4-3 > ul > li:last-child {
      border: 0;
      padding-bottom: 1px; }
  #App #index .list4 .l4-4 img {
    width: 100%; }

/*# sourceMappingURL=index.css.map */
