body {
  background-color: #f6f6f6; }

#pay .list1 {
  background-color: #fff;
  margin-bottom: 0.25rem;
  padding: 0 0.15rem; }
  #pay .list1 .l1-1 {
    border-bottom: 1px solid #e4e4e4;
    padding: 0.3rem 0.15rem; }
    #pay .list1 .l1-1 > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #pay .list1 .l1-1 > div > div:first-child {
        width: 40%; }
        #pay .list1 .l1-1 > div > div:first-child img {
          width: 100%; }
      #pay .list1 .l1-1 > div > div:last-child {
        width: 56%;
        font-size: 0.28rem;
        color: #333333; }
        #pay .list1 .l1-1 > div > div:last-child > div:first-child {
          margin-bottom: 0.4rem; }
        #pay .list1 .l1-1 > div > div:last-child > div:last-child {
          color: #ff0000; }
  #pay .list1 .l1-2 {
    font-size: 0.28rem;
    color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.15rem; }
    #pay .list1 .l1-2 > div:last-child {
      width: 26%;
      display: flex; }
      #pay .list1 .l1-2 > div:last-child div {
        padding: 0.05rem;
        text-align: center;
        width: 33.3%;
        -webkit-border-radius: 0.05rem;
        -moz-border-radius: 0.05rem;
        border-radius: 0.05rem; }
      #pay .list1 .l1-2 > div:last-child input {
        width: 33.3%;
        border: 0;
        text-align: center; }
      #pay .list1 .l1-2 > div:last-child div:nth-child(2n+1) {
        background-color: #f6f6f6;
        border: 1px solid #ededed; }
#pay .list2 {
  background-color: #fff;
  padding: 0 0.2rem; }
  #pay .list2 .l2-1 {
    border-bottom: 1px solid #e4e4e4;
    padding: 0.6rem 0.1rem 0 0.1rem; }
    #pay .list2 .l2-1 > div:first-child {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
      #pay .list2 .l2-1 > div:first-child > div {
        width: 25%;
        margin-bottom: 0.2rem; }
        #pay .list2 .l2-1 > div:first-child > div > div {
          position: relative;
          border: 1px solid #ffb9b9;
          width: 1.25rem;
          height: 1.25rem;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: url("../img/img01.png") no-repeat;
          background-size: 30%;
          background-position: 50% 50%;
          margin-right: 0.2rem; }
          #pay .list2 .l2-1 > div:first-child > div > div img {
            margin: auto;
            margin-left: 0.03rem;
            width: 97%;
            height: 97%; }
          #pay .list2 .l2-1 > div:first-child > div > div span {
            position: absolute;
            background-color: #ffacac;
            color: #fff;
            font-size: 0.22rem;
            width: 0.8rem;
            height: 0.35rem;
            text-align: center;
            -webkit-border-radius: 0.1rem;
            -moz-border-radius: 0.1rem;
            border-radius: 0.1rem;
            right: -0.13rem;
            top: -0.23rem; }
    #pay .list2 .l2-1 > div:last-child {
      margin: 0.2rem 0 0.5rem 0;
      text-align: center;
      font-size: 0.26rem;
      color: #333333; }
      #pay .list2 .l2-1 > div:last-child > span span {
        color: #ff0000; }
  #pay .list2 .l2-2 ul li {
    border-bottom: 1px solid #e4e4e4;
    font-size: 0.28em;
    color: #333333;
    display: flex;
    justify-content: left;
    padding: 0.35rem 0; }
    #pay .list2 .l2-2 ul li > div:first-child {
      margin-right: 0.3rem;
      font-weight: bold; }
    #pay .list2 .l2-2 ul li > div:nth-child(2) {
      position: relative;
      width: 70%; }
      #pay .list2 .l2-2 ul li > div:nth-child(2) input {
        font-size: 0.28rem;
        border: 0;
        width: 100%; }
      #pay .list2 .l2-2 ul li > div:nth-child(2) input::placeholder {
        color: #c8c8c8; }
  #pay .list2 .l2-2 ul li:last-child {
    border-bottom: 0; }
#pay .bottom {
  display: flex;
  position: fixed;
  justify-content: left;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background-color: #fff; }
  #pay .bottom > div:first-child {
    font-size: 0.24rem;
    width: 60%;
    background-color: #fff;
    text-align: center; }
    #pay .bottom > div:first-child .num {
      font-size: 0.32rem;
      margin-right: 0.2rem; }
    #pay .bottom > div:first-child > div span {
      color: #ff0000; }
    #pay .bottom > div:first-child > div span:first-child {
      color: #333333; }
  #pay .bottom > div:last-child {
    width: 40%;
    font-size: 0.3rem;
    background-color: #ff0000;
    color: #ffffff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

#mask1 {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center; }
  #mask1 > div {
    background-color: #fff;
    width: 60%;
    font-size: 0.28rem;
    color: #333333;
    text-align: center;
    padding: 0.7rem 0.3rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem; }
    #mask1 > div > div {
      margin-bottom: 0.2rem; }
    #mask1 > div > div:first-child img {
      margin: auto;
      width: 0.9rem;
      height: 0.9rem; }
    #mask1 > div > div:nth-child(3) {
      font-size: 0.24rem; }
      #mask1 > div > div:nth-child(3) > span span {
        color: #ff0000; }
    #mask1 > div > div:last-child {
      margin-bottom: 0; }

/*# sourceMappingURL=pay.css.map */
